TextButton {
    border: 1px solid #AAA;
}

TextButton:pressed, ToolbarButton:pressed {
    background-color: #DDD;
}

#like_btn {
    border-image: url(icons:like.png);
}
#like_btn:checked {
    border-image: url(icons:like_checked_dark.png);
}
#download_btn {
    border-image: url(icons:download.png);
}
#download_btn:checked {
    border-image: url(icons:already_download.png);
}
